@{
    Layout = "_Layout1";
    ViewData["Title"] = "编辑产品";
}
@model Product;
 <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            编辑产品
        </h1>
        <ol class="breadcrumb">
            <li><a href="/home/index"><i class="fa fa-home"></i> 首页</a></li>
            <li><a href="/home/productlist">产品列表</a></li>
            <li class="active">编辑产品</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">

                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" id="productEdit">
                        <input type="hidden" name="Id" id="ProductID" value="@Model.Id" />
                        <input type="hidden" name="AddTime" value="@Model.AddTime" />
                        <div class="box-body">
                            <div class="form-group">
                                <label for="Name">产品名称</label>
                                <input type="text" class="form-control" name="Name" id="Name" value="@Model.Name" placeholder="产品名称">
                            </div>
                            <div class="form-group">
                                <label for="Price">价格</label>
                                <input type="text" class="form-control" name="Price" id="Price" value="@Model.Price" placeholder="价格">
                            </div>
                            <div class="form-group">
                                <label for="Discout">折扣</label>
                                <input type="text" class="form-control" name="Discout" id="Discout" value="@Model.Discout" placeholder="折扣">
                            </div>
                            <div class="form-group">
                                <label for="Description">产品介绍</label>
                                <textarea class="form-control" name="Description" id="Description" placeholder="产品介绍">@Model.Description
                                    </textarea>
                            </div>
                        </div>


                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary" id="EditProduct">提交</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="/home/productlist" class="btn btn-default">取消</a>
                        </div>
                    </form>
                </div>
                <!-- /.box -->

            </div>
            <!--/.col (left) -->

        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Scripts{
    <script src="~/lib/bootstrap-validator/dist/js/bootstrapValidator.min.js"></script>
    <script src="~/lib/bootstrap-validator/dist/js/language/zh_CN.js"></script>
    <link href="~/lib/bootstrap-validator/dist/css/bootstrapValidator.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.form.js"></script>
    <link href="~/lib/toastr/toastr.css" rel="stylesheet" />
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/js/toastrconfig.js"></script>
    <script>
             $(function () {
            $('form').bootstrapValidator({
            message: 'This value is not valid',
                 feedbackIcons: {
                            valid: 'glyphicon glyphicon-ok',
                            invalid: 'glyphicon glyphicon-remove',
                            validating: 'glyphicon glyphicon-refresh'
                           },
                fields: {
                    Name: {
                        message: '产品名验证失败！',
                        validators: {
                            notEmpty: {
                                message: '产品名不能为空！'
                            }
                        }
                    },
                    Price: {
                        validators: {
                            notEmpty: {
                                message: '产品价格不能为空！'
                            }
                        }
                    },
                    Discout: {
                        validators: {
                            notEmpty: {
                                message: '产品折扣不能为空！'
                            }
                        }
                    },
                    Description: {
                        validators: {
                            notEmpty: {
                                message: '产品介绍不能为空！'
                            }
                        }
                    }
                }
            });
            $("#EditProduct").on("click", function(){
            var opt = {
                    type: "POST",
                    dataType: "json",
                    url: "/home/ProductEdit",
                    success: function (data) {
                        if (data.isedit == true) {
                            toastr.success("数据提交成功！");
                            setTimeout(function(){ window.location.reload(); }, 3000);
                        }
                        else
                        {
                            toastr.error("提交失败！");
                            $("#EditProduct").removeAttr("disabled");
                        }
                    },
                    error: function(data) {
                            toastr.error(XMLResponse.responseText);
                            $("#EditProduct").removeAttr("disabled");
                         }
                    };
                 $("#productEdit").ajaxForm(opt);
            })



        });
    </script>
}