@{
    Layout = "_Layout1";
    ViewData["Title"] = "编辑用户";
}
@model User
<link rel="stylesheet" href="~/lib/treeview/css/bootstrap-treeview.min.css" />
<link rel="stylesheet" href="~/lib/bootstrap-fileinput/css/bootstrap-fileinput.css" />
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            编辑用户
        </h1>
        <ol class="breadcrumb">
            <li><a href="/home/index"><i class="fa fa-home"></i> 首页</a></li>
            <li><a href="/sys/usermanage">用户管理</a></li>
            <li class="active">编辑用户</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-8">
                <!-- general form elements -->
                <div class="box box-primary">

                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" id="userEdit">
                        <input type="hidden" id="MenuIds" name="MenuIds" />
                        <input type="hidden" id="Id" name="Id" value="@Model.Id" />
                        <input type="hidden" id="Code" name="Code" value="@Model.Code" />
                        <input type="hidden" id="PassWord" name="PassWord" value="@Model.PassWord" />
                        <input type="hidden" id="IsFreeze" name="IsFreeze" value="@Model.IsFreeze" />
                        <input type="hidden" id="LastLoginTime" name="LastLoginTime" value="@Model.LastLoginTime" />
                        <input type="hidden" id="CreatedTime" name="CreatedTime" value="@Model.CreatedTime" />
                        <div class="box-body">
                            <div class="form-group">
                                <label>用户头像</label>
                                <div class="fileinput fileinput-new" data-provides="fileinput" id="uploadImageDiv">
                                    <div class="fileinput-new thumbnail" style="width: 100px; height: 100px;">
                                        <img src="@Model.HeadImg" alt="" />
                                    </div>
                                    <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
                                    <div>
                                        <span class="btn btn-primary btn-file">
                                            <span class="fileinput-new">选择图片</span> <span class="fileinput-exists">更改</span>
                                            <input type="file" name="uploadImage" id="uploadImage" />
                                        </span>
                                        <a href="#" class="btn default fileinput-exists" data-dismiss="fileinput">移除</a>
                                        <span>请选择1M以内图片</span>
                                        <input type="hidden" value="@Model.HeadImg" name="HeadImg" id="HeadImg" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">角色</label>
                                <RoleSelect class="form-control" id="RoleId" name="RoleId" onchange="GetRoleMenus()" default-value=@Model.RoleId></RoleSelect>
                            </div>
                            <div class="form-group">
                                <label for="Name">员工姓名</label>
                                <input type="text" class="form-control" name="Name" id="Name" value="@Model.Name" placeholder="员工姓名">
                            </div>
                            <div class="form-group">
                                <label for="UserNumber">员工编号</label>
                                <input type="text" class="form-control" name="UserNumber" id="UserNumber" value="@Model.UserNumber" placeholder="员工编号">
                            </div>
                            <div class="form-group">
                                <label for="UserName">用户名</label>
                                <input type="text" class="form-control" name="UserName" id="UserName" value="@Model.UserName" placeholder="用户名">
                            </div>
                            <div class="form-group">
                                <label for="">手机号</label>
                                <input type="text" class="form-control" name="Phone" id="Phone" value="@Model.Phone" placeholder="手机号">
                            </div>
                            <div class="form-group">
                                <label for="">邮箱</label>
                                <input type="text" class="form-control" name="Email" id="Email" value="@Model.Email" placeholder="邮箱">
                            </div>
                            <div class="form-group">
                                <label for="">部门</label>
                                <DepartmentSelect class="form-control" id="DepartmentId" name="DepartmentId" default-value=@Model.DepartmentId></DepartmentSelect>
                            </div>
                            <div class="form-group">
                                <label for="">区域</label>
                                <AreasSelect class="form-control" id="AreaId" name="AreaId" default-value=@Model.AreaId></AreasSelect>
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary" id="EditUser">保存</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="/sys/usermanage" class="btn btn-default">取消</a>
                        </div>
                    </form>
                </div>
                <!-- /.box -->

            </div>
            <div class="col-xs-4">
                <div class="box box-primary">
                    <div id="tree"></div>
                </div>
            </div>
            <!--/.col (left) -->

        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Scripts{
    <script src="~/lib/treeview/js/bootstrap-treeview.min.js"></script>
    <script src="~/lib/bootstrap-validator/dist/js/bootstrapValidator.min.js"></script>
    <script src="~/lib/bootstrap-validator/dist/js/language/zh_CN.js"></script>
    <link href="~/lib/bootstrap-validator/dist/css/bootstrapValidator.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.form.js"></script>
    <link href="~/lib/toastr/toastr.css" rel="stylesheet" />
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/js/toastrconfig.js"></script>
    <script src="~/lib/bootstrap-fileinput/js/bootstrap-fileinput.js"></script>
    <script>@Model.Code</script>
}